# The releng team is by default the owner of everything.
*             @locationtech/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @locationtech/eclipsefdn-security
